.family {
  display: flex;
  align-items: center;
}

.family-title {
  color: grey;
  line-height: 12px;
  font-size: 12px;
  padding-right: 4px;
}
.family-icon--size {
  width: 12px;
  height: 12px;
}
