.family-daily {
  display: flex;
  align-items: center;
}

.family-daily-title {
  color: grey;
  line-height: 12px;
  font-size: 12px;
  padding-right: 4px;
  padding-left: 4px;
}
.family-daily-icon--size {
  width: 12px;
  height: 12px;
}
